body{
	font-family: Verdana, sans-serif;
}

span {
	margin: 5px;
}

p {
	margin: 0px;
}

.container {
	position:relative;
	top:20px;
}

.people {
	padding: 1em;	
	border: solid 1px grey;
}

.hour-price {
	padding: 1em;	
	border: solid 1px grey;
}

.center {
	display: block;
	margin-left:auto;
    margin-right:auto;
    width: 60%;
}

.price {
	font-size: 5em;
}


.teaser {	
	font-size: 4em;
	color: grey;
	font-weight: 500;
	font-variant: small-caps;
	display: block;
	margin-left:auto;
    margin-right:auto;
}

input {
	border: 2px;
	outline: none;
	font-weight: 700;
	font-size: 1.25em;
	margin: 1em;
}

input[type=button] {
	padding: 0.7em;
	border: solid 1px #4285bd;
	color: #4285bd;
}
